@import './base.css';

body {
  place-items: center;
}

#app {
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

div.app {
  height: 100%;
  width: 100%;
}

div#loading {
  height: 85%;
}

div.header-view {
  font-size: 1.5vmin;
}

div.footer-view {
  position: absolute;
  bottom: 0px;
  font-size: 1.5vmin;
}

div.main-view {
  position: relative;
  height: 85%;
  font-size: 1.5vmin;
}

div.name-list {
  height: 70dvh;
}

div.full_height {
  height: 85%;
}

div.half_height {
  height: 40%;
}

div.mini_height {
  height: 20%;
}

div.detail-box {
  height: 70dvh;
  font-size: 1.5vmin;
}

div.detail_half_box {
  height: 50%;
  font-size: 1.5vmin;
}

button.full_fit {
  width: 100%;
}

button.color-button {
  color: black;
  background-color: #e0e0e0;
  width: 100%;
}

span.preview_color_box {
  font-size: 1.5vmin;
}

span.detail_color_box {
  border: solid black 1px;
  background-color: white;
  font-size: 10vmin;
}

div.menu_title {
  text-align: center;
  font-size: 1.5vmin;
  font-weight: bold;
}
