<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>マスタデータ管理システム</title>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.css" />
    <link type="text/css" rel="stylesheet" href="colors.css"
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-color@2.8.1/dist/vue-color.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>

    <div id="app" class="container">
        <b-row v-if="hasError">
            <b-col>
                <b-alert variant="danger" show>
                    <b-container>
                        <b-row>
                            <b-col>
                                {{ color.error.message }}
                        </b-col>
                        <b-col cols="1">
                            <b-button v-on:click="hideError()" variant="danger"><b-icon icon="x-square"></b-icon></b-button>
                        </b-col>
                        </b-row>
                        </b-container>
                </b-alert>
            </b-col>
        </b-row>
        <div v-if="!isLoadCompleted" id="loading" class="d-flex align-items-center">
            <b-spinner variant="primary"></b-spinner>
        </div>
        <div v-if="isLoadCompleted" id="main">
            <b-list-group>
                <b-list-group-item v-for="data in color.specs" class="color-list-element">
                    <span v-bind:style="{ color: data.Hex }" class="preview_color_box">■</span>&nbsp;{{data.Name}} / {{data.Hex}}
                </b-list-group-item>
            </b-list-group>
        </div>
    </div>
    <script src="colors.js"></script>
</body>
</html>
