<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>マスタデータ管理システム</title>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.css" />
    <link type="text/css" rel="stylesheet" href="main.css"
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-color@2.8.1/dist/vue-color.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>

    <div id="app" class="container">
        <b-row v-if="hasError">
            <b-col>
                <b-alert variant="danger" show>
                    <b-container>
                        <b-row>
                            <b-col>
                                {{ actor.error.message }}
                                {{ ve.error.message }}
                                {{ color.error.message }}
                                {{ ve_san.error.message }}
                                {{ ve_none.error.message }}
                                {{ ve_sep.error.message }}
                                {{ mng.error.message }}
                        </b-col>
                        <b-col cols="1">
                            <b-button v-on:click="hideError()" variant="danger"><b-icon icon="x-square"></b-icon></b-button>
                        </b-col>
                        </b-row>
                        </b-container>
                </b-alert>
            </b-col>
        </b-row>
        <b-row v-if="hasNotice">
            <b-col>
                <b-alert variant="info" show>
                    <b-container>
                        <b-row>
                            <b-col>
                                {{ actor.notice.message }}
                                {{ ve.notice.message }}
                                {{ color.notice.message }}
                                {{ ve_san.notice.message }}
                                {{ ve_none.notice.message }}
                                {{ ve_sep.notice.message }}
                                {{ mng.notice.message }}
                            </b-col>
                            <b-col cols="1">
                                <b-button v-on:click="hideNotice()" variant="info"><b-icon icon="x-square"></b-icon></b-button>
                            </b-col>
                        </b-row>
                    </b-container>
                </b-alert>
            </b-col>
        </b-row>
        <div v-if="!isLoadCompleted" id="loading" class="d-flex align-items-center">
            <b-spinner variant="primary"></b-spinner>
        </div>
        <div v-if="isLoadCompleted" id="main">
            <b-tabs content-class="mt-3" justified>
                <b-tab title="声優マスター">
                    <b-row v-if="!actor.edit.enable">
                        <b-col>
                            <b-button v-on:click="showNewActor()" variant="primary" class="full_fit">新規作成</b-button>
                        </b-col>
                    </b-row>
                    <b-row v-if="!actor.edit.enable">
                        <b-col>&nbsp;</b-col>
                    </b-row>
                    <b-row v-if="actor.edit.enable">
                        <b-container>
                            <b-row>
                                <b-col cols="4">名前</b-col>
                                <b-col>
                                    <b-form-input v-model="actor.edit.name" placeholder="名前"></b-form-input>
                                </b-col>
                            </b-row>
                            <b-row><b-col>&nbsp;</b-col></b-row>
                            <b-row>
                                <b-col cols="4">かな</b-col>
                                <b-col>
                                    <b-form-input v-model="actor.edit.kana" placeholder="かな"></b-form-input>
                                </b-col>
                            </b-row>
                            <b-row><b-col>&nbsp;</b-col></b-row>
                            <b-row>
                                <b-col cols="4">対応音声合成エンジン</b-col>
                                <b-col>
                                    <b-form-group v-slot="ariaDescribedby">
                                        <b-form-checkbox-group id="actorEditVEChecks" v-model="actor.edit.engines" :options="ve.options"
                                            :aria-describedby="ariaDescribedby" name="engines">
                                        </b-form-checkbox-group>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row><b-col>&nbsp;</b-col></b-row>
                            <b-row>
                                <b-col cols="4">別名</b-col>
                                <b-col>
                                    <b-form-textarea id="actorEditAliases" v-model="actor.edit.alias_text"></b-form-textarea>
                                    <ul>
                                        <li>別名を1行ずつ記載</li>
                                        <li>特定のエンジン名は後ろに"[エンジン名]"を入れる</li>
                                        <li>空行・空白のみの行は無視</li>
                                        <li>行の両端の空白は無視</li>
                                    </ul>
                                </b-col>
                            </b-row>
                            <b-row><b-col>&nbsp;</b-col></b-row>
                            <b-row>
                                <b-col cols="4">字幕文字色</b-col>
                                <b-col>
                                    <b-form-group v-slot="{ ariaDescribedBy }">
                                        <b-container>
                                            <b-row>
                                                <b-col cols="2">
                                                    <b-form-radio v-model="actor.edit.jimaku.text_color.type" :aria-described-by="ariaDescribedBy" name="jimaku-text-color-type"
                                                        value="named">名前</b-form-radio>
                                                </b-col>
                                                <b-col>
                                                    <b-form-select v-on:change="selectChangedColor(actor.edit.jimaku.text_color)" v-model="actor.edit.jimaku.text_color.name" :options="color.names"></b-form-select>
                                                </b-col>
                                            </b-row>
                                            <b-row>
                                                <b-col cols="2">
                                                    <b-form-radio v-model="actor.edit.jimaku.text_color.type" :aria-described-by="ariaDescribedBy"
                                                        name="jimaku-text-color-type" value="rgb">RGB</b-form-radio>
                                                </b-col>
                                                <b-col>
                                                    <b-form-input type="color" v-model="actor.edit.jimaku.text_color.rgb"></b-form-input>
                                                </b-col>
                                            </b-row>
                                        </b-container>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row><b-col>&nbsp;</b-col></b-row>
                            <b-row>
                                <b-col cols="4">字幕枠色</b-col>
                                <b-col>
                                    <b-form-group v-slot="{ ariaDescribedBy }">
                                        <b-container>
                                            <b-row>
                                                <b-col cols="2">
                                                    <b-form-radio v-model="actor.edit.jimaku.outline_color.type" :aria-described-by="ariaDescribedBy"
                                                        name="jimaku-outline-color-type" value="named">名前</b-form-radio>
                                                </b-col>
                                                <b-col>
                                                    <b-form-select
                                                        v-on:change="selectChangedColor(actor.edit.jimaku.outline_color)"
                                                        v-model="actor.edit.jimaku.outline_color.name" :options="color.names"></b-form-select>
                                                </b-col>
                                            </b-row>
                                            <b-row>
                                                <b-col cols="2">
                                                    <b-form-radio v-model="actor.edit.jimaku.outline_color.type" :aria-described-by="ariaDescribedBy"
                                                        name="jimaku-outline-color-type" value="rgb">RGB</b-form-radio>
                                                </b-col>
                                                <b-col>
                                                    <b-form-input type="color" v-model="actor.edit.jimaku.outline_color.rgb"></b-form-input>
                                                </b-col>
                                            </b-row>
                                        </b-container>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row><b-col>&nbsp;</b-col></b-row>
                            <b-row>
                                <b-col cols="4">字幕枠幅</b-col>
                                <b-col>
                                    <b-form-input type="number" v-model="actor.edit.jimaku.outline_width" placeholder="字幕枠幅"></b-form-input>
                                </b-col>
                            </b-row>
                            <b-row><b-col>&nbsp;</b-col></b-row>
                            <b-row>
                                <b-col cols="4">声優名文字色</b-col>
                                <b-col>
                                    <b-form-group v-slot="{ ariaDescribedBy }">
                                        <b-container>
                                            <b-row>
                                                <b-col cols="2">
                                                    <b-form-radio v-model="actor.edit.actor_name.text_color.type" :aria-described-by="ariaDescribedBy"
                                                        name="actor-name-text-color-type" value="named">名前</b-form-radio>
                                                </b-col>
                                                <b-col>
                                                    <b-form-select v-on:change="selectChangedColor(actor.edit.actor_name.text_color)"
                                                        v-model="actor.edit.actor_name.text_color.name" :options="color.names"></b-form-select>
                                                </b-col>
                                            </b-row>
                                            <b-row>
                                                <b-col cols="2">
                                                    <b-form-radio v-model="actor.edit.actor_name.text_color.type" :aria-described-by="ariaDescribedBy"
                                                        name="actor-name-text-color-type" value="rgb">RGB</b-form-radio>
                                                </b-col>
                                                <b-col>
                                                    <b-form-input type="color" v-model="actor.edit.actor_name.text_color.rgb"></b-form-input>
                                                </b-col>
                                            </b-row>
                                        </b-container>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row><b-col>&nbsp;</b-col></b-row>
                            <b-row>
                                <b-col cols="4">声優名枠色</b-col>
                                <b-col>
                                    <b-form-group v-slot="{ ariaDescribedBy }">
                                        <b-container>
                                            <b-row>
                                                <b-col cols="2">
                                                    <b-form-radio v-model="actor.edit.actor_name.outline_color.type" :aria-described-by="ariaDescribedBy"
                                                        name="actor-name-outline-color-type" value="named">名前</b-form-radio>
                                                </b-col>
                                                <b-col>
                                                    <b-form-select
                                                        v-on:change="selectChangedColor(actor.edit.actor_name.outline_color)"
                                                        v-model="actor.edit.actor_name.outline_color.name" :options="color.names"></b-form-select>
                                                </b-col>
                                            </b-row>
                                            <b-row>
                                                <b-col cols="2">
                                                    <b-form-radio v-model="actor.edit.actor_name.outline_color.type" :aria-described-by="ariaDescribedBy"
                                                        name="actor-name-outline-color-type" value="rgb">RGB</b-form-radio>
                                                </b-col>
                                                <b-col>
                                                    <b-form-input type="color" v-model="actor.edit.actor_name.outline_color.rgb"></b-form-input>
                                                </b-col>
                                            </b-row>
                                        </b-container>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row><b-col>&nbsp;</b-col></b-row>
                            <b-row>
                                <b-col cols="4">声優名枠幅</b-col>
                                <b-col>
                                    <b-form-input type="number" v-model="actor.edit.actor_name.outline_width" placeholder="声優名枠幅"></b-form-input>
                                </b-col>
                            </b-row>
                            <b-row><b-col>&nbsp;</b-col></b-row>
                            <b-row>
                                <b-col cols="4">拡張情報</b-col>
                                <b-col>
                                    <b-container v-for="(value, key) in actor.edit.ext_data" v-bind:key="key">
                                        <b-row>
                                            <b-col>{{ key }}</b-col>
                                            <b-col>{{ value }}</b-col>
                                            <b-col><b-button v-on:click="deleteActorExt(key)" variant="warning" class="full_fit">削除</b-button></b-col>
                                        </b-row>
                                    </b-container>
                                    <b-container>
                                        <b-row><b-col>&nbsp;</b-col></b-row>
                                        <b-row>
                                            <b-col>
                                                <b-form-input type="text" v-model="actor.edit.ext_key" placeholder="key"></b-form-input>
                                            </b-col>
                                            <b-col>
                                                <b-form-input type="text" v-model="actor.edit.ext_value" placeholder="value"></b-form-input>
                                            </b-col>
                                            <b-col>
                                                <b-button v-on:click="addActorExt()" variant="primary" class="full_fit">追加</b-button>
                                            </b-col>
                                        </b-row>
                                    </b-container>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col>&nbsp;</b-col>
                            </b-row>
                            <b-row>
                                <b-col>
                                    <b-button v-if="isShowActorAddButton" v-on:click="addActor()" variant="danger" class="full_fit">登録</b-button>
                                </b-col>
                                <b-col>
                                    <b-button v-if="isShowActorUpdateButton" v-on:click="appendActor()" variant="warning" class="full_fit">追加</b-button>
                                </b-col>
                                <b-col>
                                    <b-button v-if="isShowActorUpdateButton" v-on:click="updateActor()" variant="danger" class="full_fit">更新</b-button>
                                </b-col>
                                <b-col>
                                    <b-button v-on:click="hideEditActor()" variant="secondary" class="full_fit">キャンセル</b-button>
                                </b-col>
                            </b-row>
                        </b-container>
                        <b-modal id="confirm-add-actor" @ok="addActorOK" title="声優情報追加の確認">
                            <p>{{ actor.modal_info }} を追加します。よろしいですか？</p>
                        </b-modal>
                        <b-modal id="confirm-update-actor" @ok="updateActorOK" title="声優情報更新の確認">
                            <p>{{ actor.modal_info }} を更新します。よろしいですか？</p>
                        </b-modal>
                    </b-row>
                    <b-row v-if="!actor.edit.enable">
                        <b-col cols="4" class="overflow-auto full_height">
                            <b-list-group>
                                <b-list-group-item v-for="data in actor.names" v-bind:key="data.Id">
                                    <b-button v-on:click="showActorDetail(data.Id)" variant="outline-primary" class="full_fit">{{data.Name}}</b-button>
                                </b-list-group-item>
                            </b-list-group>
                        </b-col>
                        <b-col>
                            <div v-if="!hasActorDetail" class="d-flex align-items-center detail_box">
                                <p>選択がされていません</p>
                            </div>
                            <div v-if="visibleActorDetail" class="d-flex align-items-center detail_box">
                                <b-container>
                                    <b-row>
                                        <b-col cols="6">名前</b-col><b-col>{{actor.detail.body.Name}}</b-col>
                                    </b-row>
                                    <b-row><b-col>&nbsp;</b-col></b-row>
                                    <b-row>
                                        <b-col cols="6">かな</b-col><b-col>{{actor.detail.body.Kana}}</b-col>
                                    </b-row>
                                    <b-row><b-col>&nbsp;</b-col></b-row>
                                    <b-row>
                                        <b-col cols="6">対応音声合成エンジン</b-col>
                                        <b-col>
                                            <ul>
                                                <li v-for="engine in actor.detail.body.Engines">{{engine}}</li>
                                            </ul>
                                        </b-col>
                                    </b-row>
                                    <b-row><b-col>&nbsp;</b-col></b-row>
                                    <b-row>
                                        <b-col cols="6">別名</b-col>
                                        <b-col>
                                            <span v-if="hasAnotherNames">なし</span>
                                            <ul>
                                                <li v-for="alias in actor.detail.body.AnotherNames">{{alias}}</li>
                                            </ul>
                                        </b-col>
                                    </b-row>
                                    <b-row><b-col>&nbsp;</b-col></b-row>
                                    <b-row>
                                        <b-col cols="6">字幕文字色</b-col>
                                        <b-col>
                                            <span
                                                v-bind:style="{ color: strToColor(actor.detail.body.JimakuTextColor) }">■</span>{{actor.detail.body.JimakuTextColor}}
                                        </b-col>
                                    </b-row>
                                    <b-row><b-col>&nbsp;</b-col></b-row>
                                    <b-row>
                                        <b-col cols="6">字幕枠色</b-col><b-col>
                                            <span
                                                v-bind:style="{ color: strToColor(actor.detail.body.JimakuOutlineColor) }">■</span>{{actor.detail.body.JimakuOutlineColor}}
                                        </b-col>
                                    </b-row>
                                    <b-row><b-col>&nbsp;</b-col></b-row>
                                    <b-row>
                                        <b-col cols="6">字幕枠幅</b-col><b-col>{{actor.detail.body.JimakuOutlineWidth}}</b-col>
                                    </b-row>
                                    <b-row><b-col>&nbsp;</b-col></b-row>
                                    <b-row>
                                        <b-col cols="6">声優名文字色</b-col>
                                        <b-col>
                                            <span
                                                v-bind:style="{ color: strToColor(actor.detail.body.ActorTextColor) }">■</span>{{actor.detail.ActorTextColor}}
                                        </b-col>
                                    </b-row>
                                    <b-row><b-col>&nbsp;</b-col></b-row>
                                    <b-row>
                                        <b-col cols="6">声優名枠色</b-col>
                                        <b-col>
                                            <span
                                                v-bind:style="{ color: strToColor(actor.detail.body.ActorOutlineColor) }">■</span>{{actor.detail.ActorOutlineColor}}
                                        </b-col>
                                    </b-row>
                                    <b-row><b-col>&nbsp;</b-col></b-row>
                                    <b-row>
                                        <b-col cols="6">声優名枠幅</b-col><b-col>{{actor.detail.body.ActorOutlineWidth}}</b-col>
                                    </b-row>
                                    <b-row><b-col>&nbsp;</b-col></b-row>
                                    <b-row>
                                        <b-col>
                                            <b-button v-on:click="showEditActor()" variant="primary" class="full_fit">編集</b-button>
                                        </b-col>
                                        <b-col>
                                            <b-button v-on:click="deleteActor()" variant="danger" class="full_fit">削除</b-button>
                                        </b-col>
                                    </b-row>
                                    <b-modal id="confirm-delete-actor" @ok="deleteActorOK" title="声優情報削除の確認">
                                        <p>{{ actor.modal_info }} を削除します。よろしいですか？</p>
                                    </b-modal>
                                </b-container>
                            </div>
                        </b-col>
                    </b-row>
                </b-tab>
                <b-tab title="音声合成エンジンマスター">
                    <b-row>
                        <b-col v-if="!ve.edit.enable">
                            <b-button v-on:click="showNewVE()" variant="primary" class="full_fit">新規作成</b-button>
                        </b-col>
                    </b-row>
                    <b-row v-if="ve.edit.enable">
                        <b-container>
                            <b-row>
                                <b-col cols="4">名前</b-col>
                                <b-col>
                                    <b-form-input v-model="ve.edit.name" placeholder="名前"></b-form-input>
                                </b-col>
                            </b-row>
                            <b-row><b-col>&nbsp;</b-col></b-row>
                            <b-row>
                                <b-col cols="4">正式名称</b-col>
                                <b-col>
                                    <b-form-input v-model="ve.edit.real_name" placeholder="正式名称"></b-form-input>
                                </b-col>
                            </b-row>
                            <b-row><b-col>&nbsp;</b-col></b-row>
                            <b-row>
                                <b-col cols="4">区切り文字</b-col>
                                <b-col>
                                    <b-form-select v-model="ve.edit.separator" :options="ve.sep_list"></b-form-select>
                                </b-col>
                            </b-row>
                            <b-row><b-col>&nbsp;</b-col></b-row>
                            <b-row>
                                <b-col cols="4">エンコーディング</b-col>
                                <b-col>
                                    <b-form-select v-model="ve.edit.encoding" :options="ve.encode_list"></b-form-select>
                                </b-col>
                            </b-row>
                            <b-row><b-col>&nbsp;</b-col></b-row>
                            <b-row>
                                <b-col cols="4">拡張情報</b-col>
                                <b-col>
                                    <b-container v-for="(value, key) in ve.edit.ext_data" v-bind:key="key">
                                        <b-row>
                                            <b-col>{{ key }}</b-col>
                                            <b-col>{{ value }}</b-col>
                                            <b-col><b-button v-on:click="deleteVEExt(key)" variant="warning" class="full_fit">削除</b-button></b-col>
                                        </b-row>
                                    </b-container>
                                    <b-container>
                                        <b-row>
                                            <b-col>
                                                <b-form-input type="text" v-model="ve.edit.ext_key" placeholder="key"></b-form-input>
                                            </b-col>
                                            <b-col>
                                                <b-form-input type="text" v-model="ve.edit.ext_value" placeholder="value"></b-form-input>
                                            </b-col>
                                            <b-col>
                                                <b-button v-on:click="addVEExt()" variant="primary" class="full_fit">追加</b-button>
                                            </b-col>
                                        </b-row>
                                    </b-container>
                                </b-col>
                            </b-row>
                            <b-row><b-col>&nbsp;</b-col></b-row>
                            <b-row>
                                <b-col>
                                    <b-button v-if="isShowVEAddButton" v-on:click="addVE()" variant="danger" class="full_fit">登録</b-button>
                                </b-col>
                                <b-col>
                                    <b-button v-if="isShowVEUpdateButton" v-on:click="appendVE()" variant="warning" class="full_fit">追加</b-button>
                                </b-col>
                                <b-col>
                                    <b-button v-if="isShowVEUpdateButton" v-on:click="updateVE()" variant="danger" class="full_fit">更新</b-button>
                                </b-col>
                                <b-col>
                                    <b-button v-on:click="hideEditVE()" variant="secondary" class="full_fit">キャンセル</b-button>
                                </b-col>
                            </b-row>
                        </b-container>
                        <b-modal id="confirm-add-ve" @ok="addVEOK" title="エンジン情報追加の確認">
                            <p>{{ ve.modal_info }} を追加します。よろしいですか？</p>
                        </b-modal>
                        <b-modal id="confirm-update-ve" @ok="updateVEOK" title="エンジン情報更新の確認">
                            <p>{{ ve.modal_info }} を更新します。よろしいですか？</p>
                        </b-modal>
                    </b-row>
                    <b-row v-if="!ve.edit.enable">
                        <b-col cols="4" class="full_height">
                            <b-container>
                                <b-row class="overflow-auto half_height">
                                    <b-col>
                                        <b-list-group>
                                            <b-list-group-item v-for="data in ve.names" v-bind:key="data.Id">
                                                <b-button v-on:click="showVEDetail(data.Id)" variant="outline-primary" class="full_fit">{{data.Name}}</b-button>
                                            </b-list-group-item>
                                        </b-list-group>
                                    </b-col>
                                </b-row>
                                <b-row class="mini_height">
                                    <b-col>
                                        <div class="d-flex align-items-center ">(ここにサニタイズ正規表現関係が入る)</div>
                                    </b-col>
                                </b-row>
                                <b-row class="mini_height">
                                    <b-col>
                                        <div class="d-flex align-items-center ">(ここに音声不生成エンジン名リストが入る)</div>
                                    </b-col>
                                </b-row>
                                <b-row class="mini_height">
                                    <b-col>
                                        <div class="d-flex align-items-center ">(ここに声優名振り分けエンジン名リストが入る)</div>
                                    </b-col>
                                </b-row>
                            </b-container>
                        </b-col>
                        <b-col>
                            <b-container>
                                <b-row class="half_height">
                                    <div v-if="!hasVEDetail" class="d-flex align-items-center detail_half_box">
                                        <p>選択がされていません</p>
                                    </div>
                                    <div v-if="visibleVEDetail" class="d-flex align-items-center detail_half_box">
                                        <b-container>
                                            <b-row>
                                                <b-col cols="6">名前</b-col><b-col>{{ve.detail.body.Name}}</b-col>
                                            </b-row>
                                            <b-row>
                                                <b-col cols="6">正式名</b-col><b-col>{{ve.detail.body.RealName}}</b-col>
                                            </b-row>
                                            <b-row>
                                                <b-col cols="6">区切り文字</b-col><b-col>{{ve.detail.body.Separator}}</b-col>
                                            </b-row>
                                            <b-row>
                                                <b-col cols="6">文字コード</b-col><b-col>{{ve.detail.body.Encoding}}</b-col>
                                            </b-row>
                                            <b-row>
                                                <b-col>
                                                    <b-button v-on:click="showEditVE()" variant="primary" class="full_fit">編集</b-button>
                                                </b-col>
                                                <b-col>
                                                    <b-button v-on:click="deleteVE()" variant="danger" class="full_fit">削除</b-button>
                                                </b-col>
                                            </b-row>
                                            <b-modal id="confirm-delete-ve" @ok="deleteVEOK" title="エンジン情報削除の確認">
                                                <p>{{ ve.modal_info }} を削除します。よろしいですか？</p>
                                            </b-modal>
                                        </b-container>
                                    </div>
                                </b-row>
                                <b-row class="mini_height">
                                    <b-col>
                                        <div class="d-flex align-items-center ">(ここにサニタイズ編集が入る)</div>
                                    </b-col>
                                </b-row>
                                <b-row class="mini_height">
                                    <b-col>
                                        <div class="d-flex align-items-center ">(ここに音声不生成エンジン名編集が入る)</div>
                                    </b-col>
                                </b-row>
                                <b-row class="mini_height">
                                    <b-col>
                                        <div class="d-flex align-items-center ">(ここに声優名振り分けエンジン名編集が入る)</div>
                                    </b-col>
                                </b-row>
                            </b-container>
                        </b-col>
                    </b-row>
                </b-tab>
                <b-tab title="色マスター">

                </b-tab>
                <b-tab title="管理">
                    <b-row>
                        <b-col>
                            <b-button v-on:click="saveAll()" variant="success" class="full_fit">設定をYAMLに保存</b-button>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col>
                            &nbsp;
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col>
                            <b-button v-on:click="revertAll()" variant="danger" class="full_fit">設定を初期状態に戻す</b-button>
                        </b-col>
                    </b-row>
                    <b-modal id="confirm-save-all" @ok="saveAllOK" title="YAML保存の確認">
                        <p>編集内容をYAMLとして保存・反映します。よろしいですか？</p>
                    </b-modal>
                    <b-modal id="confirm-revert-all" @ok="revertAllOK" title="設定初期化の確認">
                        <p>YAMLファイルを初期状態に戻します。よろしいですか？</p>
                    </b-modal>
                </b-tab>
            </b-tabs>
        </div>
    </div>
    <script src="main.js"></script>
</body>
</html>
