<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>マスタデータ管理システム</title>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.css" />
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-color@2.8.1/dist/vue-color.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>

    <div id="app" class="container">
        <b-tabs content-class="mt-3" justified>
            <b-tab title="声優マスター">
                <b-row v-if="actorHasError">
                    <b-col>{{ actorErrorMsg }}</b-col>
                </b-row>
                <b-row v-if="actorHasNotice">
                    <b-col>{{ actorNoticeMsg }}</b-col>
                </b-row>
                <b-row>
                    <b-col>
                        <b-button v-on:click="showNewActor()" variant="outline-primary" style="width: 100%;">新規作成</b-button>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col cols="4" class="overflow-auto" style="height:90vh">
                        <b-list-group>
                            <b-list-group-item v-for="data in actorNames" v-bind:key="data.Id">
                                <b-button v-on:click="showActorDetail(data.Id)" variant="outline-primary" style="width: 100%;">{{data.Name}}</b-button>
                            </b-list-group-item>
                        </b-list-group>
                    </b-col>
                    <b-col>
                        <div v-if="actorDetail == null" class="d-flex align-items-center" style="height: 90vh; font-size: xx-large; ">
                            <p>選択がされていません</p>
                        </div>
                        <div v-if="actorDetail != null" class="d-flex align-items-center" style="height: 90vh; font-size: xx-large;">
                            <b-container>
                                <b-row>
                                    <b-col cols="6">名前</b-col><b-col>{{actorDetail.Name}}</b-col>
                                </b-row>
                                <b-row>
                                    <b-col cols="6">かな</b-col><b-col>{{actorDetail.Kana}}</b-col>
                                </b-row>
                                <b-row>
                                    <b-col cols="6">対応音声合成エンジン</b-col>
                                    <b-col>
                                        <ul>
                                            <li v-for="engine in actorDetail.Engines">{{engine}}</li>
                                        </ul>
                                    </b-col>
                                </b-row>
                                <b-row>
                                    <b-col cols="6">別名</b-col>
                                    <b-col>
                                        <span v-if="actorDetail.AnotherNames.length==0">なし</span>
                                        <ul>
                                            <li v-for="alias in actorDetail.AnotherNames">{{alias}}</li>
                                        </ul>
                                    </b-col>
                                </b-row>
                                <b-row>
                                    <b-col cols="6">字幕文字色</b-col>
                                    <b-col>
                                        <span v-bind:style="{ color: strToColor(actorDetail.JimakuTextColor) }">■</span>{{actorDetail.JimakuTextColor}}
                                    </b-col>
                                </b-row>
                                <b-row>
                                    <b-col cols="6">字幕枠色</b-col><b-col>
                                        <span
                                            v-bind:style="{ color: strToColor(actorDetail.JimakuOutlineColor) }">■</span>{{actorDetail.JimakuOutlineColor}}
                                    </b-col>
                                </b-row>
                                <b-row>
                                    <b-col cols="6">字幕枠幅</b-col><b-col>{{actorDetail.JimakuOutlineWidth}}</b-col>
                                </b-row>
                                <b-row>
                                    <b-col cols="6">声優名文字色</b-col>
                                    <b-col>
                                        <span v-bind:style="{ color: strToColor(actorDetail.ActorTextColor) }">■</span>{{actorDetail.ActorTextColor}}
                                    </b-col>
                                </b-row>
                                <b-row>
                                    <b-col cols="6">声優名枠色</b-col>
                                    <b-col>
                                        <span
                                            v-bind:style="{ color: strToColor(actorDetail.ActorOutlineColor) }">■</span>{{actorDetail.ActorOutlineColor}}
                                    </b-col>
                                </b-row>
                                <b-row>
                                    <b-col cols="6">声優名枠幅</b-col><b-col>{{actorDetail.ActorOutlineWidth}}</b-col>
                                </b-row>
                            </b-container>
                        </div>
                    </b-col>
                </b-row>
            </b-tab>
            <b-tab title="音声合成エンジンマスター">
                <b-row v-if="veHasError">
                    <b-col>{{ veErrorMsg }}</b-col>
                </b-row>
                <b-row v-if="veHasNotice">
                    <b-col>{{ veNoticeMsg }}</b-col>
                </b-row>
                <b-row>
                    <b-col>
                        <b-button v-on:click="showNewVE()" variant="outline-primary" style="width: 100%;">新規作成</b-button>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col cols="4"  class="overflow-auto" style="height:90vh">
                        <b-list-group>
                            <b-list-group-item v-for="data in veNames" v-bind:key="data.Id">
                                <b-button v-on:click="showVEDetail(data.Id)" variant="outline-primary" style="width: 100%;">{{data.Name}}</b-button>
                            </b-list-group-item>
                        </b-list-group>
                    </b-col>
                    <b-col>
                        <div v-if="veDetail == null" class="d-flex align-items-center" style="height: 90vh; font-size: xx-large;">
                            <p>選択がされていません</p>
                        </div>
                        <div v-if="veDetail != null" class="d-flex align-items-center" style="height: 90vh; font-size: xx-large;">
                            <b-container>
                                <b-row>
                                    <b-col cols="6">名前</b-col><b-col>{{veDetail.Name}}</b-col>
                                </b-row>
                                <b-row>
                                    <b-col cols="6">正式名</b-col><b-col>{{veDetail.RealName}}</b-col>
                                </b-row>
                                <b-row>
                                    <b-col cols="6">区切り文字</b-col><b-col>{{veDetail.Separator}}</b-col>
                                </b-row>
                                <b-row>
                                    <b-col cols="6">文字コード</b-col><b-col>{{veDetail.Encoding}}</b-col>
                                </b-row>
                            </b-container>
                        </div>
                    </b-col>
                </b-row>
            </b-tab>
        </b-tabs>
    </div>
    <script src="main.js"></script>
</body>
</html>
