div#loading {
    width: 100%;
    height: 90vh;
}
div.full_height {
    height: 90vh;
}
div.half_height {
    height: 45vh;
}
div.mini_height {
    height: 15vh;
}
div.detail_box {
    height: 90vh;
    font-size: xx-large;
}
div.detail_half_box {
    height: 45vh;
    font-size: xx-large;
}
button.full_fit {
    width: 100%;
}